body {
  margin: auto;
  background: aliceblue;
}

.split {
  height: 100%;
  width: 50%;
  z-index: 1;
  overflow-x: hidden;
  position: absolute;
}

.left {
  left: 0;
}

.left li {
  background-color: #f17272;
}

.right li {
  background-color: #96d896
}

.right {
  right: 0;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

li {
  list-style: none;
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

li button {
  margin-top: 10px;
}

li div {
   text-transform: uppercase;
}

.title {
 text-align: center;
 padding-bottom: 10px;
}
